.choice-box{
    -fx-text-fill: #3f3f3f;
    -fx-font-size:12px;

    -fx-border-insets: -1,-1,-1,-1;
    -fx-background-color: rgb(255,255,255);
    -fx-border-style: solid;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: rgb(52,168,219);

}

.choice-box .context-menu {
    -fx-background-color: white;
}

.choice-box .menu-item:focused {
    -fx-background-color: rgb(28, 28, 113);
}

.choice-box .menu-item > .label {
    -fx-text-fill: #3f3f3f;
}

.choice-box .menu-item:focused > .label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
