.date-picker > .arrow-button {
    /*-fx-background-image: url("/icons/calendar.png"); !* Url of the icon *!*/
    /*-fx-background-size: 60% 60%; !* Can be `cover` or `100% 100%` ect. *!*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: center center; !* Put the icon in the center *!*/

    -fx-border-insets: 0 0 0 -1;
    -fx-background-color: rgb(255,255,255);
    -fx-border-style: solid;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: rgb(52,168,219);
}

.date-picker-popup {
    -fx-padding: 1;
    -fx-background-color: #dddddd;
    -fx-cursor: hand;
    -fx-background-radius: 0, 0, 0;
    -fx-background-insets: 0, 0, 0;
}

.date-picker > .text-field {
    /*-fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),*/
    /*linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);*/
    -fx-background-color: #ffffff;
    -fx-background-radius: 0, 0, 0;
    -fx-background-insets: 0, 0, 0;
    -fx-border-color: rgb(52,168,219);
}

.date-picker:focused > .text-field,
.date-picker > .text-field:focused {
    /*-fx-background-color: -fx-control-inner-background,*/
    /*-fx-faint-focus-color,*/
    /*linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);*/
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0, 0, 0;
}

.date-picker-popup > .month-year-pane {
    -fx-padding: 4;
    -fx-background-color: rgb(28, 28, 113);
}

.date-picker-popup > .month-year-pane > .spinner {
    -fx-spacing: 4;
    -fx-alignment: CENTER;
    -fx-fill-height: false;
}

.date-picker-popup > .month-year-pane > .spinner > .spinner-label {
    -fx-font-size: 1.083333em;
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.date-picker-popup > .month-year-pane > .spinner > .left-button {
    -fx-padding: 4 6;
    -fx-background-color: transparent;
}

.date-picker-popup > .month-year-pane > .spinner > .right-button {
    -fx-padding: 4 6;
    -fx-background-color: transparent;
}

.date-picker-popup > .month-year-pane > .spinner > .button > .left-arrow {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-padding: 0.333em 0.167em 0.333em 0.167em;
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
    -fx-scale-shape: true;
}

.date-picker-popup > .month-year-pane > .spinner > .button > .right-arrow {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-padding: 0.333em 0.167em 0.333em 0.167em;
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-scale-shape: true;
}

.date-picker-popup > * > .cell {
    -fx-padding: 0 7;
    -fx-alignment: BASELINE_CENTER;
}

.date-picker-popup > * > .cell:disabled > * {
    /* This is set on the cell's children so the border is not affected. */
    -fx-opacity: 0.4;
}

.date-picker-popup > * > .week-number-header-cell,
.date-picker-popup > * > .day-name-cell {
    -fx-font-size: 0.833333em;
    -fx-padding: 0;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.75em;
    -fx-padding: 0;
}

.date-picker-popup > * > .day-cell {
    -fx-text-fill: black;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-border-insets: 0;
}

.date-picker-popup > * > .hijrah-day-cell {
    -fx-alignment: TOP_LEFT;
    -fx-cell-size: 2.75em;
}

.date-picker-popup > * > .day-cell:focused {
    -fx-background-color: rgb(28, 28, 113);
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.date-picker-popup > * > .day-cell:hover {
    -fx-background-color: rgb(28, 28, 113);
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.date-picker-popup > * > .day-cell > .secondary-text {
    -fx-font-size: 1.0em;
    -fx-border-color: rgb(33, 33, 137);
}

.date-picker-popup > * > .today {
    -fx-background-insets: 1;
    -fx-font-weight: bold;
    -fx-border-color: #bfbfbf;
    -fx-border-insets: 1;
}

.date-picker-popup > * > .today:focused {
    -fx-background-color: rgb(28, 28, 113);
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.date-picker-popup > * > .selected {
    -fx-background-color: #CCE8FF;
}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-text-fill: #aaaaaa;
}

.date-picker-popup > * > .previous-month > .secondary-text,
.date-picker-popup > * > .next-month > .secondary-text {
    -fx-fill: #aaaaaa;
}