.CloseButton{
    -fx-background-color: red, red;
    -fx-background-radius: 16.4, 15;
    -fx-background-insets: -1, 0;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-border-color: dimgrey;
    -fx-padding: 0;
    -fx-font-size: 0;
    -fx-max-width: 25px;
}

.CloseButton:hover{
    -fx-background-color: red, brown;
    -fx-cursor: hand;
}

.ShowFiltersButton{
    -fx-border-width: 2 0 2 2;
    -fx-background-radius: 0;
    -fx-border-insets: 0 -2 -2 -2;
    -fx-background-color:  rgba(127,127,127,0.6);
}

.ShowFiltersButton:hover{
    -fx-border-color: green;
    -fx-cursor: hand;
}

.FilterButtons{
    -fx-border-width: 2 2 2 2;
    -fx-background-radius: 0;
    -fx-border-insets: -2;
    -fx-background-color:  rgba(127,127,127,0.6);
}
.FilterButtons:hover{
    -fx-border-color: green;
    -fx-background-color:  rgba(127,127,127,1);
    -fx-cursor: hand;
}

.InfoListView:odd:filled{
    -fx-background-color: rgba(255,255,255,0);
}

.InfoListView:even:filled{
    -fx-background-color: rgba(255,255,255,0);
}
