.combo-box .list-cell {
    -fx-background: transparent;
    /*-fx-background-color: transparent;*/
    /*-fx-text-fill: -fx-text-base-color;*/
    /*-fx-padding: 3 0 2 7;*/
    /*-fx-cell-size: 1.66667em;*/
    -fx-text-fill: #ffffff;
}

.combo-box-popup .list-view {
    -fx-background-color: rgba(0,0,0,.3), rgba(0,0,0,.3);
    /*-fx-background-insets: 0, 1;*/
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);*/
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;
    -fx-cursor: hand;
    /* No alternate highlighting */
    -fx-background-color: rgba(0,0,0,.3);
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    /*-fx-background: -fx-accent;*/
    -fx-background: rgba(0,0,0,.3);
    /*-fx-background-color: -fx-sel ection-bar;*/
    -fx-background-color: rgba(255,255,255,.3);
    -fx-text-fill: -fx-selection-bar-text;
    -fx-font-weight: bold;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: rgba(255,255,255,.3);
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.combo-box-base {
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";*/
    -fx-background-color: rgba(0,0,0,.0);
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-border-color: #bfbfbf;
    -fx-text-fill: #ffffff;


}

.combo-box-base:hover {
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing {
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    /*-fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    /*-fx-background-radius: 6.4, 4, 5, 3;*/
    /*-fx-background-insets: -1.4, 0, 1, 2;*/
    -fx-text-fill: white;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}