.total-black-background{
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0,0,0;

    -fx-background-color: rgba(0,0,0,1);
}

.total-white-background{
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0,0,0;

    -fx-background-color: rgba(255,255,255,1);
}

.low-black-background{
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0,0,0;

    -fx-background-color: rgba(0,0,0,.3);
}

.high-black-background{
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0,0,0;

    -fx-background-color: rgba(0,0,0,.7);
}

.half-white-background{
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0,0,0;

    -fx-background-color: rgba(255,255,255,.3);
}

.transparent-background{
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0,0,0;

    -fx-background-color: transparent;
}

.general-content{
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0,0,0;

    -fx-background-color: rgba(0,0,0,.3);
    -fx-border-width: 1 1 4 1;
    -fx-border-color: gray gray white gray;
}

.plants-content{
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0,0,0;

    -fx-background-color: rgba(0,0,0,.3);
    -fx-border-width: 1 1 4 1;
    -fx-border-color: gray gray green gray;
}

.animals-content{
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0,0,0;

    -fx-background-color: rgba(0,0,0,.0);
    -fx-border-width: 1 1 4 1;
    -fx-border-color: gray gray yellow gray;
}

.machinery-content{
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0,0,0;

    -fx-background-color: rgba(0,0,0,.0);
    -fx-border-width: 1 1 4 1;
    -fx-border-color: gray gray blue gray;
}

.popup-content{
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0,0,0;

    -fx-background-color: rgba(0,0,0,.3);
    -fx-border-width: 1 1 4 1;
    -fx-border-color: gray gray white gray;
}