.title{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-transform: uppercase;
}

.popup-message{
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.field-description{
    -fx-text-fill: white;
    -fx-font-size: 12px;
}