/*.root{*/
    /*-fx-background-color: rgb(147,179,202);*/

    /*-fx-border-color: rgb(52,168,219);*/
    /*-fx-text-fill: white;*/
/*}*/

.table-view{
    -fx-background-color: transparent;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: rgb(52,168,219);
    -fx-border-insets: 0 0 0 0;

}

.table-view .filler{
    -fx-border-color: rgb(52,168,219);
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    /*-fx-background-color: linear-gradient(#131313 0%, #424141 100%);*/
    -fx-background-color: rgb(147,179,202);
    -fx-border-color: rgb(147,179,202);
    -fx-border-insets: 1 1 1 1;
    -fx-border-style: solid;
    -fx-border-width: 1 1 1 1;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
/*table column header*/
.table-view .column-header {
    -fx-background-color: rgb(147,179,202);

    -fx-border-color: rgb(147,179,202);
    -fx-border-insets: 1 1 1 1;
    -fx-border-style: solid;
    -fx-border-width: 1 1 1 1;

    -fx-size: 50px;
}

.table-view .table-cell{
    -fx-text-fill: gray;
    -fx-cell-size: 40px;
}

.table-view .table-row-cell{
    /*-fx-border-color: gray;*/
    -fx-table-cell-border-color: gray;
}
/*table rows*/
/*.table-row-cell{*/
    /*-fx-background-color: rgba(0,0,0,.2), rgba(0,0,0,.3);*/
    /*-fx-background-insets: 0, 0 0 1 0;*/
    /*-fx-padding: 0.0em; !* 0 *!*/
/*}*/
.table-row-cell:even{
    -fx-background-color: rgb(231,231,231);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-cell-size: 40px;

}
.table-row-cell:odd{
    -fx-background-color: rgb(212,223,229);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-cell-size: 40px;

}

.table-row-cell:selected {
    -fx-background-color: -yellow;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}