
{
    -gray: #dddddd;                  /* Change according to your needs */
    -red: #ff0000;                  /* Change according to your needs */
    -fx-my-menu-color-highlighted: #ff0000;      /* Change according to your needs */
    -white: #FFFFFF;
    -black: #000000;  /* Change according to your needs */
    -fx-my-menu-font-color-highlighted: #FFFFFF; /* Change according to your needs */
}

.root{
    -fx-background-color: -gray;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: -gray;
}

.table-view .filler{
    -fx-background-color: -gray;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    /*-fx-background-color: linear-gradient(#131313 0%, #424141 100%);*/
    -fx-background-color: -gray;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: -black;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    /*-fx-text-fill: -black;*/
}

.table-row-cell{
    -fx-background-color: -gray, -white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -white, -gray;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: -red;
    -fx-text-fill: -white;
    -fx-font-weight: bold;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected .label{
    -fx-background-color: transparent;
    -fx-text-fill: -white;
    -fx-font-weight: bold;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}