.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:110px;
    -fx-tab-min-height: 30px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-color: rgb(231,231,231);
}
.tab-pane .tab
{
    -fx-background-color: rgb(147,179,202);

}

.tab-pane .tab:selected
{
    -fx-background-color: rgb(28, 28, 113);
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}